@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
    padding-bottom: 40px;
    .item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;

        .title {
            font-size: 12px;
            font-weight: 200;
            color: $soft-color;
            
             @include lg {
                 display: none;
             }
        }
    
        .listItem {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;

            &:hover {
                background-color: $soft-bg;
                border-radius: 5px;
            }

             .listItemTitle {
                 @include lg {
                     display: none;
                 }
             }
        }
    }
}